.slider_wrapper {
    max-inline-size: 96.5rem;
    margin-inline: auto;
    position: relative;
    --swiper-pagination-bottom: 0;
    --swiper-pagination-color: #ff444f;
}
.swiper_slide {
    height: 100% !important;
}
.slider_button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}
.slider_button_prev{
    left: -32px;
}
.slider_button_next{
    right: -32px;
}