@import "features/styles/variables";



$menu_size: 28rem;


.nav_menu {
    position: fixed;
    top: 7rem;
    width: $menu_size;
    height: calc(100vh - 7rem);
    background-color: $color-white;
    opacity: 1;
    transform: translateX(-$menu_size);
    overflow: scroll;
    transition: transform 0.5s ease 0ms;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.visible_nav_menu {
    transition: transform 0.5s ease 0ms;
    transform: translateX(0px);
}