@import "features/styles/variables";



$menu_size: 28rem;


.nav_menu {
    position: fixed;
    inset-block-start: 7rem;
    inline-size: $menu_size;
    block-size: calc(100vh - 7rem);
    background-color: $color-white;
    opacity: 1;
    inset-inline-start: -$menu_size;
    overflow: scroll;
    transition: inset-inline-start 0.5s ease 0ms;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.visible_nav_menu {
    inset-inline-start: 0;
}