@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';
.available_options {
    // border-block-end: 1px solid gray;
}
.available_options_item {
    border-block-end: 1px solid gray;
}

.available_options_item_active {
    border-block-end: 1px solid red;
}

.tab_container {
    position: relative;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    @include breakpoints(tablet) {
        overflow: scroll;
    }
}

.scroll_buttons {
    margin-top: 1rem;
    display: block;
}

.scroll_button_left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.scroll_button_right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll_container {
    @include breakpoints(phone) {
        overflow: hidden !important;
        white-space: nowrap;
    }
}
.is_show_left,
.is_show_right {
    display: none;
}
