.platform_list {
    list-style: decimal;
    margin-inline-start: 25px;
}
.platform_list_item {
    font-size: 24px;
    line-height: 1.5;
    color: #414652;
    margin-block-end: 32px;
}

.platform_wrap {
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: #D6D6D6;
        inset: 0;
        margin-inline: auto;
    }
}