@use 'features/styles/theme/theme-mixins' as *;

.platform_list {
    list-style: decimal;
    margin-inline-start: 25px;
}
.platform_list_item {
    color: #414652;
    font-size: 18px;
    line-height: 1.44;
    margin-block-end: 24px;
    @include breakpoints(tablet){
        margin-block-end: 32px;
        font-size: 24px;
        line-height: 1.5;
    }
}

.platform_wrap {
    position: relative;
    @include breakpoints(tablet) {
        &::before{
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            background-color: #D6D6D6;
            inset: 0;
            margin-inline: auto;
        }
    }
}