@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.available_options_item {
    border-block-end: 1px solid gray;
}

.available_options_item_active {
    border-block-end: 1px solid red;
}

.tab_container {
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @include breakpoints(tablet) {
        overflow: scroll;
    }
}

.scroll_buttons {
    margin-block-start: 1rem;
    display: block;
}

.scroll_button_left {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.scroll_button_right {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll_container {
    max-inline-size: 100vw;
    @include breakpoints(phone) {
        overflow: hidden !important;
        white-space: nowrap;
        justify-content: start;
    }
}
.is_show_left,
.is_show_right {
    display: none;
}

.options_available_tab_item {
    padding-inline: 1.6rem;
    padding-block: 0.8rem;
}
