@import 'features/styles/variables';

button.tertiary-light {
    border: 2px solid $color-white;
    color: $color-white;
    background: transparent;

    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }
}
