@use 'features/styles/theme/theme-mixins' as *;

.public_signup_banner_container {
    position: relative;
    overflow: hidden;

    & > a {
        z-index: 1;
    }
}

.public_signup_banner {
    position: absolute;
    inset-block-end: 0px;
    inset-inline-start: 0;
    inline-size: 25rem;
    block-size: 32rem;
    @include breakpoints(tablet-large) {
        inline-size: 25rem;
        block-size: 36rem;
    }
}

.public_signup_title {
    max-inline-size: 24rem;
    @include breakpoints(tablet-large) {
        max-inline-size: 32rem;
    }
    @include breakpoints(desktop) {
        max-inline-size: 40rem;
    }
}
