@use 'features/styles/theme/theme-mixins' as *;

.public_signup_banner_container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
        z-index: 1;
    }
}

.public_signup_link {
    position: absolute;
    inset-block-start: 150px;
    inset-inline-end: 15%;
    inline-size: 20rem;

    @include breakpoints(phone) {
        inset-inline-end: 5%;
        inline-size: 30rem;
    }

    @include breakpoints(tablet) {
        inset-inline-end: 15%;
    }

    @include breakpoints(laptop) {
        inline-size: 45rem;
    }
}

.public_signup_image {
    @include breakpoints(phone) {
        inset-inline-end: 15%;
    }
}
