$color-black: #0e0e0e;
$color-black-2: #2a2a2a;
$color-black-3: #333333;
$color-black-4: #182039;
$color-black-5: #6e6e6e;
$color-black-6: #000000;
$color-black-7: #0f0d0f;
$color-black-8: #151717;
$color-white: #ffffff;
$color-red: #ff444f;
$color-red-1: #dd573a;
$color-red-2: #ffe8e9;
$color-red-3: #d43e47;
$color-red-4: #ff4449;
$color-red-5: #ff0024;
$color-grey: #9b9b9b;
$color-grey-1: #f4f4f4;
$color-grey-2: #e8e8e8;
$color-grey-3: #646464;
$color-grey-4: #fafbfb;
$color-grey-5: #999999;
$color-grey-6: #e6e9e9;
$color-grey-7: #d6dadb;
$color-grey-8: #f2f3f4;
$color-grey-9: #c8d6d738;
$color-grey-10: #c8d6d738;
$color-grey-11: #efefef;
$color-grey-12: #585252;
$color-grey-13: #656868;
$color-grey-14: #c8d6d7;
$color-grey-15: #d8d8d8;
$color-grey-16: #777777;
$color-grey-17: #d6d6d6;
$color-grey-18: #f4f4f6;
$color-grey-19: #c2c2c2;
$color-grey-20: #e0e0e0;
$color-grey-21: #e5e5e5;
$color-grey-22: #eaeced;
$color-grey-23: #fbfbfb;
$color-grey-24: #eff2f5;
$color-grey-25: #f9fafc;
$color-grey-26: #e9eaec;
$color-grey-27: #f8a2a8;
$color-grey-28: #f3f5f8;
$color-grey-29: #edeeef;
$color-grey-30: #f5f7fa;
$color-grey-31: #f8fafc;
$color-grey-32: #dcdee0;
$color-grey-33: #8e9190;
$color-grey-34: #e7e7e7;
$color-grey-35: #f5f7f9;
$color-grey-36: #f3f3f3;
$color-grey-37: #fafbfd;
$color-grey-38: #d6d7d8;
$color-grey-39: #f7fafb;
$color-grey-40: #b3b3b3;
$color-grey-41: #f8fafb;
$color-grey-42: #f5f8f9;
$color-green: #85acb0;
$color-blue: #4c76be;
$color-blue-2: #365899;
$color-blue-3: #2a3052;
$color-blue-4: #f1f6f7;
$color-blue-5: #85abaf;
$color-blue-6: #4fb5b3;
$color-blue-7: #4bb4b3;
$color-blue-8: #003b81;
$color-blue-9: #305f8b;
$color-blue-10: #dee7f2;
$color-blue-11: #4e2286;
$color-blue-12: #2a537a;
$color-blue-13: #c5d6e7;
$color-yellow: #fff2df;
$color-yellow-2: #4c3c08;
$color-yellow-3: #ffc71b;
$color-orange: #ff6544;
$color-orange-2: #ff7457;
$color-orange-3: #33140e;
$color-green-1: #bccdce;
$color-green-2: #e2ebec;
$color-brown: #33140e;
$color-green-3: #26d367;

$breakpoints: (
    'phone': 400px,
    'phone-wide': 480px,
    'phone-large': 576px,
    'tablet': 768px,
    'tablet-large': 992px,
    'tablet-wide': 1024px,
    'desktop': 1248px,
    'desktop-wide': 1440px,
    'desktop-large': 1920px,
);

$small-font-size-mobile: 0.9rem;
$small-font-size-medium: 1.1rem;
$small-font-size-large: 1.2rem;

$small-font-sizes: (
    null: $small-font-size-mobile,
    tablet-large: $small-font-size-medium,
    desktop-wide: $small-font-size-large,
);

$p-font-size-mobile: 1.4rem;
$p-font-size-medium: 1.5rem;
$p-font-size-large: 1.6rem;

$p-font-sizes: (
    null: $p-font-size-mobile,
    tablet-large: $p-font-size-medium,
    desktop-wide: $p-font-size-large,
);

$small-p-font-size-mobile: 1.2rem;
$small-p-font-size-medium: 1.3rem;
$small-p-font-size-large: 1.4rem;

$small-p-font-sizes: (
    null: $small-p-font-size-mobile,
    tablet-large: $small-p-font-size-medium,
    desktop-wide: $small-p-font-size-large,
);

$h1-font-size-mobile: 5.6rem;
$h1-font-size-medium: 6rem;
$h1-font-size-large: 6.4rem;

$h1-font-sizes: (
    null: $h1-font-size-mobile,
    tablet-large: $h1-font-size-medium,
    desktop-wide: $h1-font-size-large,
);

$h2-font-size-mobile: 4rem;
$h2-font-size-medium: 4.4rem;
$h2-font-size-large: 4.8rem;

$h2-font-sizes: (
    null: $h2-font-size-mobile,
    tablet-large: $h2-font-size-medium,
    desktop-wide: $h2-font-size-large,
);

$h3-font-size-mobile: 2.8rem;
$h3-font-size-medium: 3rem;
$h3-font-size-large: 3.2rem;

$h3-font-sizes: (
    null: $h3-font-size-mobile,
    tablet-large: $h3-font-size-medium,
    desktop-wide: $h3-font-size-large,
);

$h4-font-size-mobile: 2.2rem;
$h4-font-size-medium: 2.4rem;
$h4-font-size-large: 2.6rem;

$h4-font-sizes: (
    null: $h4-font-size-mobile,
    tablet-large: $h4-font-size-medium,
    desktop-wide: $h4-font-size-large,
);

$h5-font-size-mobile: 1.8rem;
$h5-font-size-medium: 2rem;
$h5-font-size-large: 2.2rem;

$h5-font-sizes: (
    null: $h5-font-size-mobile,
    tablet-large: $h5-font-size-medium,
    desktop-wide: $h5-font-size-large,
);

$h6-font-size-mobile: 1.4rem;
$h6-font-size-medium: 1.5rem;
$h6-font-size-large: 1.6rem;

$h6-font-sizes: (
    null: $h6-font-size-mobile,
    tablet-large: $h6-font-size-medium,
    desktop-wide: $h6-font-size-large,
);

$main-landing-title-font-size-mobile: 4.8rem;
$main-landing-title-font-size-medium: 6.4rem;
$main-landing-title-font-size-large: 8rem;

$main-landing-title-font-sizes: (
    null: $main-landing-title-font-size-mobile,
    tablet-large: $main-landing-title-font-size-medium,
    desktop-wide: $main-landing-title-font-size-large,
);

$extra-small-spacing-small: 0.2rem;
$extra-small-spacing-medium: 0.4rem;
$extra-small-spacing-large: 0.6rem;

$extra-small-spacing: (
    null: $extra-small-spacing-small,
    tablet-large: $extra-small-spacing-medium,
    desktop-wide: $extra-small-spacing-large,
);

$small-spacing-small: 1.4rem;
$small-spacing-medium: 1.6rem;
$small-spacing-large: 1.8rem;

$small-spacing: (
    null: $small-spacing-small,
    tablet-large: $small-spacing-medium,
    desktop-wide: $small-spacing-large,
);

$medium-spacing-small: 2.8rem;
$medium-spacing-medium: 3.2rem;
$medium-spacing-large: 3.6rem;

$medium-spacing: (
    null: $medium-spacing-small,
    tablet-large: $medium-spacing-medium,
    desktop-wide: $medium-spacing-large,
);

$large-spacing-small: 4.8rem;
$large-spacing-medium: 5.2rem;
$large-spacing-large: 5.6rem;

$large-spacing: (
    null: $large-spacing-small,
    tablet-large: $large-spacing-medium,
    desktop-wide: $large-spacing-large,
);

$extra-large-spacing-small: 6.8rem;
$extra-large-spacing-medium: 7.2rem;
$extra-large-spacing-large: 7.6rem;

$extra-large-spacing: (
    null: $extra-large-spacing-small,
    tablet-large: $extra-large-spacing-medium,
    desktop-wide: $extra-large-spacing-large,
);

$spacing-names: (
    extra-small: $extra-small-spacing,
    small: $small-spacing,
    medium: $medium-spacing,
    large: $large-spacing,
    extra-large: $extra-large-spacing,
);
