# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-com repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - We trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - We use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - We enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - We delegate approval rights as much as possible so that we can scale better
#  - Each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  habib-binary
#  kevinw-deriv
#  njazuli-deriv
#  prince-deriv
#  sean-binary
#  suthesan-deriv
#  yashim-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @habib-binary @sean-binary @prince-deriv



# ==============================================================
#  deriv-com/translations
# ==============================================================

/src/translations/*                                             @suthesan-deriv @habib-binary @sean-binary @prince-deriv
/crowdin/*                                                      @suthesan-deriv @habib-binary @sean-binary @prince-deriv
/scripts/*                                                      @suthesan-deriv @habib-binary @sean-binary @prince-deriv


# ==============================================================
#  deriv-com/config
# ==============================================================

/*                                                              @habib-binary @sean-binary @yashim-deriv @prince-deriv
/.github/**/*                                                   @habib-binary @sean-binary @yashim-deriv @prince-deriv
/.husky/*                                                       @habib-binary @sean-binary @yashim-deriv @prince-deriv


# ==============================================================
#  deriv-com/shared-components
# ==============================================================

/src/common/**/*                                                @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv
/src/components/**/*                                            @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv
/src/themes/**/*                                                @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv


# ==============================================================
#  deriv-com/shared-assets
# ==============================================================

/src/images/**/*                                                @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv
/src/lotties/**/*                                               @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv
/static/**/*                                                    @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv
/documents/**/*                                                 @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv
/favicons/**/*                                                  @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv @prince-deriv


# ==============================================================
#  deriv-com/pages
# ==============================================================

/src/pages/**/*                                                 @habib-binary @sean-binary @njazuli-deriv @suthesan-deriv @kevinw-deriv @yashim-deriv @prince-deriv
