@use 'features/styles/mixins' as *;
@import 'features/styles/variables';

.section_items {
    display: flex;
    flex-direction: column;

    @include media(tablet-large) {
        flex-direction: row;
    }

    &_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.8rem 1rem;

        border-inline-end: none;
        border-block-end: 1px solid $color-grey-8;

        &:last-child {
            border-block-end: none;
        }

        @include media(tablet-large) {
            border-inline-end: 1px solid $color-grey-8;

            &:last-child {
                border-inline-end: none;
            }
        }
    }

    &_title {
        color: $color-grey-5;
        text-align: start;
        min-block-size: 2rem;
    }
}
