@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.section_items {
    &_container {
        border-inline-end: none;
        border-block-end: 1px solid $color-grey-8;

        &:last-child {
            border-block-end: none;
        }

        @include breakpoints(tablet-large) {
            border-block-end: none;
            border-inline-end: none;
            &:first-child {
                border-inline-end: 1px solid $color-grey-8;
            }
        }
    }

    &_title {
        min-block-size: 2rem;
    }
}
