@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.banner_section {
    position: relative;
    isolation: isolate;
    &:before {
        background: $color-black-10;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        inset: 0 0 58% 0;
        position: absolute;
        content: "";
        z-index: -1;
        @include breakpoints(tablet) {
            inset: 0 43% 0 0;
            clip-path: polygon(0 0,94% 0,100% 100%,0 100%);
        }
    }
}

.banner_wrap {
    gap: 165px;
    @include breakpoints(tablet) {
        gap: 24px;
    }
}

.download_col {
    max-inline-size: 416px;
}