@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.p2p_banner {
    background-color: $color-grey-8;
    @include breakpoints(laptop) {
        block-size: 40rem;
    }
    position: relative;
}

.p2p_content_wrapper {
    block-size: 100%;
}

.p2p_image_container {
    position: static;
    margin-inline-start: -12%;
    @include breakpoints(laptop) {
        position: absolute;
        margin-inline-start: 0;
        inset-inline-start: 0;
    }
}

.p2p_qr_container {
    inline-size: 20.8rem;
    border-radius: 8px;
    display: none;
    @include breakpoints(tablet) {
        display: block;
    }
}
