{
    "processors": [
        "stylelint-processor-styled-components"
    ],
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-styled-components",
        "stylelint-config-prettier"
    ],
    "rules": {
        "string-quotes": "single",
        "number-leading-zero": "always",
        "declaration-colon-newline-after": null,
        "color-hex-length": "long",
        "max-empty-lines": 4,
        "value-list-comma-newline-after": null,
        "max-nesting-depth": 3,
        "indentation": 4,
        "selector-type-no-unknown": [
            true,
            {
                "ignoreTypes": [
                    "/^amp-/"
                ]
            }
        ],
        "rule-empty-line-before": [
            "always",
            {
                "ignore": [
                    "after-comment"
                ],
                "except": [
                    "inside-block-and-after-rule",
                    "first-nested"
                ]
            }
        ],
        "value-keyword-case": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "alpha-value-notation": null,
        "color-function-notation": null,
        "shorthand-property-no-redundant-values": null,
        "keyframes-name-pattern": null,
        "selector-class-pattern": null
    },
    "syntax": "scss"
}
