@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.item_container {
    @include breakpoints(tablet) {
        padding: 0 22rem;
    }
}
.content_wrapper {
    border: 1px solid $color-grey-6;
    border-top: none;
    .link_text {
        text-decoration: underline;
        cursor: pointer;
    }
}
.main_link {
    text-decoration: underline;
}
