@use 'features/styles/theme/theme-mixins' as *;


.item_flex {
    margin-inline: auto;
    @include breakpoints(tablet) {
        inline-size: 90%;
    }
    @include breakpoints(laptop) {
        inline-size: 84%;
    }
    @include breakpoints(desktop) {
        inline-size: 80%;
        max-inline-size: 123.2rem;
    }
}
.item_box {
    @include breakpoints(tablet) {
        max-inline-size: 53rem;
    }
}
.text_description {
    text-align: center;
    @include breakpoints(tablet) {
        min-inline-size: 45.4rem;
        text-align: left;
    }
}

.image_container {
    @include breakpoints(tablet) {
        position: relative;
        left: 9.5%;
    }
    @include breakpoints(desktop) {
        left: 20%;
    }
}

.image_phone {
    margin-block-start: 7rem;
}
