@use 'features/styles/theme/theme-mixins' as *;

.item_box {
    @include breakpoints(tablet) {
        max-inline-size: 53rem;
    }
    @include breakpoints(laptop) {
        block-size: 53rem;
    }
}
.text_description {
    @include breakpoints(tablet) {
        min-inline-size: 45.4rem;
    }
}
.flex_container {
    @include breakpoints(tablet) {
        position: relative;
        min-block-size: 36rem;
        isolation: isolate;
    }
    @include breakpoints(desktop) {
        min-block-size: 60rem;
    }
}

.image_container {
    @include breakpoints(tablet) {
        position: absolute;
        inset-inline-end: 0;
        z-index: -1;
        padding-block-start: 6rem;
        margin-block-start: 0;
    }
}

.image_phone {
    margin-block-start: 7rem;
}
