@import 'features/styles/variables';

button.white {
    border: 2px solid $color-white;
    color: $color-white;
    background: transparent;

    &:hover {
        background: $color-white;
        color: $color-red;
    }
}
