@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.nav_card {
    &_container {
        min-inline-size: 26rem;
        cursor: pointer;
        white-space: pre-line;

        .nav_right_diagonal {
            opacity: 1;
            inline-size: 16px;
            block-size: 16px;

            @include breakpoints(tablet-large) {
                opacity: 0;
            }
        }

        &:hover {
            background-color: $color-grey-30;

            .nav_right_diagonal {
                opacity: 1;
            }
        }
    }

    &_content {
        min-inline-size: 10rem;
        min-block-size: 5rem;
        & > h2 {
            font-size: 1.6rem;
            line-height: 1;
        }
    }
    &_type {
        min-block-size: 10rem;
        min-inline-size: 20rem;
    }
}
