@use 'features/styles/mixins' as *;
@import 'features/styles/variables';

.nav_card {
    &_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.8rem 1rem;
        min-inline-size: 26rem;
        cursor: pointer;
        white-space: pre-line;

        .nav_right_diagonal {
            opacity: 1;
            inline-size: 16px;
            block-size: 16px;

            @include media(tablet-large) {
                opacity: 0;
            }
        }

        &:hover {
            background-color: $color-grey-30;

            .nav_right_diagonal {
                opacity: 1;
            }
        }
    }

    &_icon {
        & > svg,
        img {
            inline-size: 32px;
            block-size: 32px;
            margin-inline-end: 1.6rem;

            @include media(tablet-large) {
                inline-size: 24px;
                block-size: 24px;
            }
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.8rem;
        min-inline-size: 15rem;
        white-space: pre-line;
        flex: 1;

        &_title {
            text-align: start;
            color: $color-black;
        }

        .nav_card_type {
            justify-content: flex-start;
            min-inline-size: 25rem;
        }

        &_description {
            text-align: start;
            color: $color-black-3;
        }
    }
}
