@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.nav_card {
    &_container {
        position: relative;
        display: grid;
        grid-template-columns: 3.2rem 1fr;
        grid-column-gap: 1.6rem;
        grid-row-gap: 0.8rem;
        justify-content: center;
        align-items: center;
        margin-block: 0.5rem;
        padding-inline-start: 1.8rem;

        min-block-size: 5rem;

        min-inline-size: 26rem;
        cursor: pointer;
        white-space: pre-line;

        @include breakpoints(tablet) {
            inline-size: 28rem;
        }

        &:hover {
            background-color: $color-grey-30;
        }

        & > h2 {
            font-size: 1.6rem;
            line-height: 1;
        }
    }
    &_no_icon {
        grid-template-columns: 1fr;
        padding-inline-start: 0;
    }

    &_content {
        min-block-size: 9rem;

        grid-column-start: 2;
        grid-column-end: 3;
    }
}
