@use 'features/styles/theme/theme-mixins' as *;

.fluid-container {
    margin-inline: auto;
    inline-size: 95%;

    @include breakpoints(tablet-wide) {
        inline-size: 90%;
    }

    @include breakpoints(tablet) {
        inline-size: 85%;
    }

    @include breakpoints(desktop) {
        inline-size: 80%;
        max-inline-size: 120rem;
    }

    @include breakpoints(desktop-wide) {
        inline-size: 80%;
        max-inline-size: 160rem;
    }
}
