@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.container {
    inline-size: auto ;

    @include breakpoints(laptop) {
        inline-size: 124rem;
    }
}

.header {
   margin-inline: 20%;
}

.card {
    box-shadow: 0px 12px 16px -4px rgba(14, 14, 14, 0.08), 0px 4px 6px -2px rgba(14, 14, 14, 0.03);
    inline-size: 95%;
    block-size: auto;

    @include breakpoints(phone) {
        inline-size: 38.9rem;
    }
}
.item_description {
    @include breakpoints(tablet) {
        padding-inline: 22rem;
    }
}