@import 'features/styles/theme/variables';

button.secondary {
    color: $color-black-9;
    background: $color-white;

    &:hover {
        background-color: $color-grey-40;
        color: $color-black-9;
    }
}
button.secondary.outlined {
    border: 2px solid $color-grey-5;
}
