@use 'features/styles/theme/theme-mixins' as *;

.item_container {
}
.flex_container {
    justify-content: center;
    @include breakpoints(tablet) {
        justify-content: space-between;
        align-items: center;
    }
}
.item_box {
    @include breakpoints(tablet) {
        inline-size: 44rem;
        margin-left: 11.7rem;
    }
}
.text_description {
    @include breakpoints(tablet) {
        min-inline-size: 45.4rem;
    }
}
