@use 'features/styles/theme/theme-mixins' as *;

.flexbox {
    display: flex;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.direction-reverse-row {
    flex-direction: row-reverse;
}

.direction-reverse-column {
    flex-direction: column-reverse;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.align-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-baseline {
    justify-content: baseline;
}

.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}
.wrap-reverse {
    flex-wrap: wrap-reverse;
}
