.swiper_button_next {
    &::after {
        display: none !important;
    }
}
.swiper_wrapper {
    position: relative;
    max-width: 31rem;
    margin-inline: auto;
}
.swiper_slide {
    width: 25% !important;
    padding-inline: 10px;
}
.swiper_button_disabled{
    display: none;
}
.swiper_height {
    min-block-size: 111px;
}
