.swiper_button_next {
    &::after {
        display: none !important;
    }
}
.swiper_wrapper {
    position: relative;
    max-width: 28rem;
    margin-inline: auto;
}
.swiper_button_disabled{
    display: none;
}