@use "features/styles/mixins/font" as *;
@import "features/styles/variables";

.typography {
    margin: 0;
    padding: 0;
    color: $color-white;
    word-break: break-word;
    line-height: 1.1; // check this out for more https://dev.to/lampewebdev/css-line-height-jjp

}

.bodyText {
    @include font-size($p-font-sizes);
}

.heading-1 {
    @include font-size($h1-font-sizes);
}

.heading-2 {
    @include font-size($h2-font-sizes);
}

.heading-3 {
    @include font-size($h3-font-sizes);
}

.heading-4 {
    @include font-size($h4-font-sizes);
}

.heading-5 {
    @include font-size($h5-font-sizes);
}

.heading-6 {
    @include font-size($h6-font-sizes);
}

.main-landing-title {
    @include font-size($main-landing-title-font-sizes);
}

.display-title {
    @include font-size($h1-font-sizes);
}

.page-title {
    @include font-size($h2-font-sizes);
}

.section-title {
    @include font-size($h3-font-sizes);
}

.sub-section-title {
    @include font-size($h4-font-sizes);
}

.main-paragraph {
    @include font-size($p-font-sizes);
}

.sub-paragraph {
    @include font-size($small-p-font-sizes);
}

.hero {
    @include font-size($main-landing-title-font-sizes);
}

.subtitle-1 {
    @include font-size($h4-font-sizes);
}

.subtitle-2 {
    @include font-size($h5-font-sizes);
}

.paragraph-1 {
    @include font-size($p-font-sizes);
}

.paragraph-2 {
    @include font-size($small-p-font-sizes);
}

.small {
    @include font-size($small-font-sizes);
}


.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.italic {
    font-style: italic;
}

.semibold {
    font-weight: bold;
}