.floating-button {
    -webkit-tap-highlight-color: transparent;

    @keyframes scale {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(100%);
        }
    }
}
