@import 'features/styles/theme/variables';

button.primary {
    color: $color-white;
    background-color: $color-brand;

    &:hover {
        background-color: $color-red-6;
    }
}

button.primary.outlined {
    border: 2px solid $color-red;
    background-color: $color-white;
    color: $color-brand;
    &:hover {
        background-color: rgba(255, 68, 79, 0.08);
    }
}
