@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.table_row_header{
    background-color: $color-white-1;
    border-start-start-radius: 16px;
    border-start-end-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-block-size: 7.5rem;
    padding: 1.4rem;
    max-inline-size: 90%;
    th {
      inline-size: 7rem;
        &:nth-child(5) {
          display: none;
        }
        &:nth-child(1) {
          inline-size: 11rem;
        }
        &:nth-child(2) {
          inline-size: 4rem;
        }
      }
      @include breakpoints(tablet) {
        padding: 2.4rem;
        max-inline-size: 100%;
          th {
            inline-size: 17rem;
              &:nth-child(1) {
                inline-size: 32rem;
                }
                &:nth-child(2) {
                  inline-size: 1rem;
                }
              &:nth-child(5) {
                display: block;
              }
             
            }
      }
    @include breakpoints(laptop) {
      padding: 2.4rem;
      max-inline-size: 100%;
        th {
          inline-size: 17rem;
            &:nth-child(1) {
              inline-size: 32rem;
              }
              &:nth-child(2) {
                inline-size: 1rem;
              }
            &:nth-child(5) {
              display: block;
            }
           
          }
    }

}
.table_row_data {
    display: flex;
    border-block-end: 2px solid var(--color-grey-8);
    align-items: center;
    min-block-size: 7.5rem;
    padding: 1.4rem;
    max-inline-size: 90%;
    td {
      inline-size: 7rem;
      &:nth-child(1) {
        inline-size: 4rem;
      }
      &:nth-child(2) {
        inline-size: 11rem;
      }
        &:nth-child(5) {
          display: none;
        }
        &:nth-child(6) {
          display: flex;
          justify-content: center;
        }
      }
      @include breakpoints(tablet) {
        max-inline-size: 100%;
        padding: 2.4rem;
          td {
            inline-size: 17rem;
            &:nth-child(1) {
              inline-size: 3.4rem;
            }
              &:nth-child(5) {
                display: block;
              }
           
              &:nth-child(2) {
                inline-size: 30rem;
                }
            }
      }
    @include breakpoints(laptop) {
      padding: 2.4rem;
      max-inline-size: 100%;
        td {
          inline-size: 17rem;
          &:nth-child(1) {
            inline-size: 3.4rem;
          }
            &:nth-child(5) {
              display: block;
            }
            &:nth-child(6) {
          display: flex;
          justify-content: flex-start;
        }
            &:nth-child(2) {
              inline-size: 30rem;
              }
          }
    }
}
.table_header_cell{
    display: flex;
}
