@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.footer {
    border-block-start: 1px solid $color-grey-44;
    opacity: 0.8;
}

.footer_grid {
    display: grid;
    inline-size: 100%;
    grid-template-columns: 1fr;

    @include breakpoints(tablet) {
        grid-template-columns: 2fr;
    }
}
