@import 'features/styles/theme/variables';

.platform_images_swiper {
    flex: 1;
    block-size: 600px;
    inline-size: 100%;
    position: relative;
}

.platform_images_item {
    max-block-size: 600px;
}

.platform_image_caption {
    opacity: 0.6;
}
.platform_slider_pagination {
    position: absolute;
    --swiper-pagination-bottom: 6rem;
    --swiper-pagination-color: #ff444f;
}
