/* @import '@deriv/quill-design/quill-tailwind/fonts.css'; */
@import '@deriv/quill-design/dist/quill-design.css';
@import '@deriv-com/components/style.css';
@import '@deriv/quill-design/quill-tailwind/styles.css';



@tailwind base;
@tailwind components;
@tailwind utilities;

.\[-webkit-box-orient\:vertical\] {
    -webkit-box-orient: vertical;
}
.\[-webkit-line-clamp\:2\] {
    -webkit-line-clamp: 2;
}
.\[display\:-webkit-box\] {
    display: -webkit-box;
}

:is([dir="rtl"] .rtl\:rotate-180) {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

:is([dir="rtl"] .rtl\:right-50) {
    right: 0;
}

:is([dir="rtl"] .rtl\:left-auto) {
    left: auto;
}
:is(:where([dir="rtl"]) .rtl\:\!animate-\[100s_slideRtl_linear_infinite\]) {
    animation: 100s slideRtl linear infinite !important;
}
