@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/comibned-fonts/NotoSansArabic.ttc') format('truetype');
    font-weight: 100 700;
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/comibned-fonts/NotoSansArabic.ttc') format('truetype');
    font-weight: bold;
}
