@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-display: swap;
	src:url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-display: swap;
	src:url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
}
