@font-face {
    font-family: 'Ubuntu';
    src: url('https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2')
        format('woff2');
    font-display: swap;
    font-weight: 100 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.woff2') format('woff2');
    font-display: swap;
    font-weight: 200;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
}
