@use 'features/styles/theme/theme-mixins' as *;


.slider_wrapper {
    max-inline-size: 97.5rem;
    margin-inline: auto;
    position: relative;
    --swiper-pagination-bottom: 0;
    --swiper-pagination-color: #ff444f;
    @include breakpoints(tablet){
        max-inline-size: 107.5rem;
    }
    .swiper-pagination{
        position: relative;
        inset: auto;
        margin-top: 23px;
    }
}
.swiper_wrapper {
    padding-block-end: 3.5rem !important;
    margin-block-end: -3.5rem !important;
    padding-inline: 1rem !important;
    margin-inline: -1rem !important;
}
.swiper_slide {
    align-self: stretch;
}
.slider_button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}
.slider_button_prev{
    left: -32px;
}
.slider_button_next{
    right: -32px;
}