$NEUTRAL: #e6e9e9;
$SUCCESS: #4bb4b3;
$ERROR: #ec3f3f;

.deriv-password__meter__bar {
    height: 100%;
    border-radius: 0px 0px 4px 4px;
    transition: width 0.25s ease-in-out;

    &__initial {
        background-color: $NEUTRAL;
        width: 0%;
        border-radius: 0px 0px 0px 4px;
    }

    &--error {
        background-color: $ERROR;
        width: 0%;
        border-radius: 0px 0px 0px 4px;
    }

    &--weak {
        background-color: $ERROR;
        width: 25%;
        border-radius: 0px 0px 0px 4px;
    }

    &--moderate {
        background-color: $ERROR;
        width: 50%;
        border-radius: 0px 0px 0px 4px;
    }

    &--strong {
        background-color: $SUCCESS;
        width: 75%;
        border-radius: 0px 0px 0px 4px;
    }

    &--complete {
        background-color: $SUCCESS;
        width: 100%;
        border-radius: 0px 0px 4px 4px;
    }
}
.deriv-password__meter {
    z-index: 2 !important;
}
