.cfd_container {
    @media only screen and (min-width: 1024px){
        width: 90%;
    }
    @media only screen and (min-width: 1536px){
        inline-size: 80%;
        max-inline-size: 123.2rem;
    }
}
.mobile_text_wrap {
    @media only screen and (min-width: 640px){
        display: none;
    }
}
.mobile_text_container {
    @media only screen and (min-width: 1024px){
        width: 90%;
    }
}
.desktop_text_wrap {
    @media only screen and (min-width: 640px){
        display: block;
    }
}
.desktop_text{
    @media only screen and (min-width: 1280px){
        font-size: 16px;
    }
}