@use 'features/styles/theme/theme-mixins' as *;

.hero_cta {
    inline-size: 100%;
    @include breakpoints(tablet) {
        inline-size: auto;
    }
}

.hero_typewriter {
    margin-block: 0.8rem;
    min-block-size: 4.8rem;

    @include breakpoints(tablet) {
        min-block-size: 6.4rem;
    }
}

html:not([lang='en']) .hero_content_title {
    @include breakpoints(tablet) {
        max-inline-size: 75%;
    }
}

.text {
    block-size: 6rem;
    overflow: hidden;
}

.wrapper {
    animation: slide-text 25s steps(1, end)  infinite;
}

.wrapper p {
    block-size: 6rem;
    line-height: 5.2rem;
    margin: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing-erase 5s steps(80, end) infinite;
}

@keyframes typing-erase {
    0% { width: 0 }
    50%, 70% { width: 100% }
    90%, 100% { width: 0 }
}

@keyframes slide-text {
    0%, 20% { transform: translateY(-1rem) }
    20%, 40% { transform: translateY(-8rem) }
    40%, 60% { transform: translateY(-15rem) }
    60%, 80% { transform: translateY(-22rem) }
    80%, 100% { transform: translateY(-29rem) }
}
