@use 'features/styles/mixins' as *;

.heading-1 {
    @include font-size($h1-font-sizes);
    line-height: 40px;
}

.heading-2 {
    @include font-size($h2-font-sizes);
    line-height: 34px;
}

.heading-3 {
    @include font-size($h3-font-sizes);
    line-height: 30px;
}

.heading-4 {
    @include font-size($h4-font-sizes);
    line-height: 28px;
}

.heading-5 {
    @include font-size($h5-font-sizes);
    line-height: 26px;
}

.heading-6 {
    @include font-size($h6-font-sizes);
    line-height: 24px;
}
