@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.tab_container {
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    @include breakpoints(tablet) { 
    overflow-x: auto;
}
}
