@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.tab_container {
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    @include breakpoints(tablet) { 
    overflow-x: auto;
}
}

.button {
    background: none !important;
    border-block-end: 2px solid $color-grey-8 !important;
    border-inline: none !important;
    border-radius: unset !important;
    padding: 1.6rem 4rem !important;
    white-space: nowrap !important;
     
    &_active {
        white-space: nowrap !important;
        padding: 1.6rem 4rem !important;
        background: none !important;
        border-inline: none !important;
        border-radius: unset !important;
        border-block-end: 2px solid $color-red !important;
    }

    @include breakpoints(tablet) { 
        padding: 1.6rem 5.2rem !important;
        
    }
}
