.header_wrapper {
    position: fixed;
    z-index: 4;
    inset-block-start: 0;
}

.nav_container {
    block-size: 7rem;
}

.bgblack{
    background-color:#0f0f0f;
    display: block;
    width: 100%;
    height:13.2rem;
    z-index: 100;
    top: -132px;
    position: absolute;

}
