@use 'features/styles/theme/theme-mixins' as *;

.description_grid_item {
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
    block-size: 100%;
}

.platform_swiper {
    inline-size: 35rem;
    margin: 0;
    @include breakpoints(tablet) {
        min-block-size: 60rem;
        inline-size: 37rem;
    }
}

.main_item {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    padding: 1rem;
    grid-column-gap: 1rem;
    justify-content: center;
    align-items: center;
    block-size: 5rem;
    opacity: 0.4;
    transition: opacity 0.5s ease-in-out;
    margin-block: 0.8rem;
}

.main_item_active {
    block-size: 14rem;
    opacity: 1;

    @include breakpoints(tablet) {
        border-block-end: 6px solid red;
        border-radius: 8px;
        block-size: 18rem;
        box-shadow: 0px 16px 20px rgba(131, 131, 131, 0.15), 0px 0px 20px rgba(131, 131, 131, 0.15);
    }
}
