@use 'features/styles/theme/theme-mixins' as *;

.platform_card {
    box-shadow: rgba(14, 14, 14, 0.08) 0px 12px 16px -4px, rgba(14, 14, 14, 0.03) 0px 4px 6px -2px;      
    block-size: 100%;
    position: relative;
}
.platform_link {
    border-radius: 23px;
    background: var(--color-grey-45);   
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    transition: opacity 0.25s ease 0s;
    width: max-content;
    max-width: 220px;
    @include breakpoints(tablet){
        opacity: 0;
    }
}

.platform_card:hover .platform_link{
    opacity: 1;
}

.rtl_arrow_icon{
    transform: rotate(180deg);
}