@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.widget_box {
  block-size: 60.6rem;
  overflow: auto;

  @include breakpoints(tablet) {
    block-size: 80rem;
  }
}
.widget_menu {
  margin-block-end: 4rem;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
