@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.widget_box {
  @include breakpoints(tablet) {
    padding-inline: 6.6rem;
  }

  &_small {
    overflow: hidden;
    block-size: 60.6rem;

    @include breakpoints(tablet) {
      block-size: 74rem;
      padding-inline: 6.6rem;
    }
  }
  &_big {
    overflow: hidden;
    block-size: 118rem;

    @include breakpoints(tablet) {
      block-size: 152rem;
      padding-inline: 6.6rem;
    }
  }
}
.widget_menu {
  margin-block-end: 4rem;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
