@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.widget_box {
  &_centre {
    block-size: 100%;
    overflow: auto;
    max-block-size: 92rem;
    @include breakpoints(tablet) {
      max-block-size: 80rem;
    }
  }
  &_calendar {
    block-size: 100%;
    overflow: auto;
    max-block-size: 74rem;
  }
  &_small {
    min-block-size: 70rem;
    @include breakpoints(tablet) {
      min-block-size: 92rem;
    }
  }
}
.widget_menu {
  margin-block-end: 4rem;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
.widget_loader {
  color: grey;
  content: ' .';
  animation: 3 1s steps(5, end) infinite;
  font-size: 6rem;
  line-height: 1;
}
