.timeline_item {
    max-inline-size: 74.4rem;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        left: 10px;
        border-inline-start: 2px dashed #FF444F;
        z-index: -1;
    }
    &:not(:last-child){
        &::before{
            bottom: -5px;
            top: 8px;
        }
    }
    &:last-child{
        &:before {
            top: 1px;
            height: 20px;
        }
    }
}