@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.product_hero {
    position: relative;
    min-block-size: 100svh;

    &::before {
        content: ' ';
        position: absolute;
        block-size: 65%;
        inline-size: 100%;
        background-color: $color-brand;
        inset-block-end: 0;
        clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);

        @include breakpoints(tablet) {
            inset-block-end: unset;
            inset-inline-end: 0;
            block-size: 100%;
            inline-size: 50%;
            clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}
