@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.alert {
    &-overlay {
        background-color: rgba(0, 0, 0, 0.126);
        position: fixed;
        inset: 0;
        z-index: 3;
        animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &-content {
        z-index: 3;
        background-color: white;
        border-radius: 6px;
        box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
            hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
        position: fixed;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);
        inline-size: 90vw;
        max-inline-size: 500px;
        max-block-size: 85vh;
        padding: 2.4rem;
        animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }
}

// .alert-overlay {
//     background-color: rgba(0, 0, 0, 0.126);
//     position: fixed;
//     inset: 0;
//     z-index: 3;
//     animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
// }

// .alert-content {
//     z-index: 3;
//     background-color: white;
//     border-radius: 6px;
//     box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
//     position: fixed;
//     inset-block-start: 50%;
//     inset-inline-start: 50%;
//     transform: translate(-50%, -50%);
//     inline-size: 90vw;
//     max-inline-size: 500px;
//     max-block-size: 85vh;
//     padding: 2.4rem;
//     animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
// }
