$breakpoints: (
    'phone': 400px,
    'phone-wide': 480px,
    'phone-large': 576px,
    'tablet': 768px,
    'tablet-large': 992px,
    'tablet-wide': 1024px,
    'desktop': 1248px,
    'desktop-wide': 1440px,
    'desktop-large': 1920px,
);

$sizes: (
    md: 992px,
    lg: 1280px,
    xl: 1920px,
);
