@use 'features/styles/theme/theme-mixins' as *;
.item_container {
  box-shadow: rgba(14, 14, 14, 0.1) 0px 4px 8px 0px;
  inline-size: 32.8rem;

  @include breakpoints(tablet) {
    inline-size: 31.6rem;
    block-size: 16.4rem;
  }
}

.card_primary_container {
  box-shadow: rgba(14, 14, 14, 0.1) 0px 4px 8px 0px;

  padding: 1.6rem;
  @include breakpoints(tablet) {
    max-inline-size: 30rem;
    padding: 2.4rem;
  }
}
.item_block {
  min-block-size: 20rem;
  @include breakpoints(tablet) {
    min-block-size: 28rem;
  }
}