@use 'features/styles/theme/theme-mixins' as *;
.item_container {
    box-shadow: rgba(14, 14, 14, 0.1) 0px 4px 8px 0px;
    inline-size: 32.8rem;

    @include breakpoints(tablet) {
        inline-size: 31.6rem;
        
    }
}