@use './theme-mixins' as *;

$flex-medias: (md, lg);

.flex {
    display: flex;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-stretch {
    align-items: stretch;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-0 {
    flex-grow: 0;
}
.flex-shrink-1 {
    flex-shrink: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.flex-wrap-wrap {
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.flex-wrap-nowrap {
    flex-wrap: nowrap;
}
.flex-dir-row {
    flex-direction: row;
}
.flex-dir-row-reverse {
    flex-direction: row-reverse;
}
.flex-dir-col {
    flex-direction: column;
}
.flex-dir-col-reverse {
    flex-direction: column-reverse;
}
.flex-basis-1-2 {
    flex-basis: 50%;
}
.flex-basis-1-3 {
    flex-basis: 33.333333%;
}
.flex-basis-2-3 {
    flex-basis: 66.666667%;
}
.flex-basis-1-4 {
    flex-basis: 25%;
}
.flex-basis-2-4 {
    flex-basis: 50%;
}
.flex-basis-3-4 {
    flex-basis: 75%;
}
.flex-basis-1-5 {
    flex-basis: 20%;
}
.flex-basis-2-5 {
    flex-basis: 40%;
}
.flex-basis-3-5 {
    flex-basis: 60%;
}
.flex-basis-4-5 {
    flex-basis: 80%;
}
.flex-basis-1-6 {
    flex-basis: 16.666667%;
}
.flex-basis-2-6 {
    flex-basis: 33.333333%;
}
.flex-basis-3-6 {
    flex-basis: 50%;
}
.flex-basis-4-6 {
    flex-basis: 66.666667%;
}
.flex-basis-5-6 {
    flex-basis: 83.333333%;
}
.flex-basis-1-12 {
    flex-basis: 8.333333%;
}
.flex-basis-2-12 {
    flex-basis: 16.666667%;
}
.flex-basis-3-12 {
    flex-basis: 25%;
}
.flex-basis-4-12 {
    flex-basis: 33.333333%;
}
.flex-basis-5-12 {
    flex-basis: 41.666667%;
}
.flex-basis-6-12 {
    flex-basis: 50%;
}
.flex-basis-7-12 {
    flex-basis: 58.333333%;
}
.flex-basis-8-12 {
    flex-basis: 66.666667%;
}
.flex-basis-9-12 {
    flex-basis: 75%;
}
.flex-basis-10-12 {
    flex-basis: 83.333333%;
}
.flex-basis-11-12 {
    flex-basis: 91.666667%;
}
.flex-basis-full {
    flex-basis: 100%;
}

@mixin flex($media-name) {
    .#{$media-name + #{'-'}}align-items-start {
        @include media($media-name) {
            align-items: flex-start;
        }
    }

    .#{$media-name + #{'-'}}align-items-end {
        @include media($media-name) {
            align-items: flex-end;
        }
    }

    .#{$media-name + #{'-'}}align-items-center {
        @include media($media-name) {
            align-items: flex-center;
        }
    }

    .#{$media-name + #{'-'}}align-items-baseline {
        @include media($media-name) {
            align-items: baseline;
        }
    }

    .#{$media-name + #{'-'}}align-items-stretch {
        @include media($media-name) {
            align-items: stretch;
        }
    }

    .#{$media-name + #{'-'}}justify-start {
        @include media($media-name) {
            justify-content: flex-start;
        }
    }

    .#{$media-name + #{'-'}}justify-end {
        @include media($media-name) {
            justify-content: flex-end;
        }
    }

    .#{$media-name + #{'-'}}justify-center {
        @include media($media-name) {
            justify-content: center;
        }
    }

    .#{$media-name + #{'-'}}justify-between {
        @include media($media-name) {
            justify-content: space-between;
        }
    }

    .#{$media-name + #{'-'}}justify-around {
        @include media($media-name) {
            justify-content: space-around;
        }
    }

    .#{$media-name + #{'-'}}justify-evenly {
        @include media($media-name) {
            justify-content: space-evenly;
        }
    }

    .#{$media-name + #{'-'}}flex-grow-1 {
        @include media($media-name) {
            flex-grow: 1;
        }
    }

    .#{$media-name + #{'-'}}flex-grow-0 {
        @include media($media-name) {
            flex-grow: 0;
        }
    }

    .#{$media-name + #{'-'}}flex-shrink-1 {
        @include media($media-name) {
            flex-shrink: 1;
        }
    }

    .#{$media-name + #{'-'}}flex-shrink-0 {
        @include media($media-name) {
            flex-shrink: 0;
        }
    }

    .#{$media-name + #{'-'}}flex-wrap-wrap {
        @include media($media-name) {
            flex-wrap: wrap;
        }
    }

    .#{$media-name + #{'-'}}flex-wrap-reverse {
        @include media($media-name) {
            flex-wrap: wrap-reverse;
        }
    }

    .#{$media-name + #{'-'}}flex-wrap-nowrap {
        @include media($media-name) {
            flex-wrap: nowrap;
        }
    }

    .#{$media-name + #{'-'}}flex-dir-row {
        @include media($media-name) {
            flex-direction: row;
        }
    }

    .#{$media-name + #{'-'}}flex-dir-row-reverse {
        @include media($media-name) {
            flex-direction: row-reverse;
        }
    }

    .#{$media-name + #{'-'}}flex-dir-col {
        @include media($media-name) {
            flex-direction: column;
        }
    }

    .#{$media-name + #{'-'}}flex-dir-col-reverse {
        @include media($media-name) {
            flex-direction: column-reverse;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-1-2 {
        @include media($media-name) {
            flex-basis: 50%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-1-3 {
        @include media($media-name) {
            flex-basis: 33.333333%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-2-3 {
        @include media($media-name) {
            flex-basis: 66.666667%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-1-4 {
        @include media($media-name) {
            flex-basis: 25%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-2-4 {
        @include media($media-name) {
            flex-basis: 50%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-3-4 {
        @include media($media-name) {
            flex-basis: 75%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-1-5 {
        @include media($media-name) {
            flex-basis: 20%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-2-5 {
        @include media($media-name) {
            flex-basis: 40%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-3-5 {
        @include media($media-name) {
            flex-basis: 60%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-4-5 {
        @include media($media-name) {
            flex-basis: 80%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-1-6 {
        @include media($media-name) {
            flex-basis: 16.666667%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-2-6 {
        @include media($media-name) {
            flex-basis: 33.333333%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-3-6 {
        @include media($media-name) {
            flex-basis: 50%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-4-6 {
        @include media($media-name) {
            flex-basis: 66.666667%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-5-6 {
        @include media($media-name) {
            flex-basis: 83.333333%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-1-12 {
        @include media($media-name) {
            flex-basis: 8.333333%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-2-12 {
        @include media($media-name) {
            flex-basis: 16.666667%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-3-12 {
        @include media($media-name) {
            flex-basis: 25%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-4-12 {
        @include media($media-name) {
            flex-basis: 33.333333%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-5-12 {
        @include media($media-name) {
            flex-basis: 41.666667%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-6-12 {
        @include media($media-name) {
            flex-basis: 50%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-7-12 {
        @include media($media-name) {
            flex-basis: 58.333333%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-8-12 {
        @include media($media-name) {
            flex-basis: 66.666667%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-9-12 {
        @include media($media-name) {
            flex-basis: 75%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-10-12 {
        @include media($media-name) {
            flex-basis: 83.333333%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-11-12 {
        @include media($media-name) {
            flex-basis: 91.666667%;
        }
    }

    .#{$media-name + #{'-'}}flex-basis-full {
        @include media($media-name) {
            flex-basis: 100%;
        }
    }
}

@each $name in $flex-medias {
    @include flex($name);
}
