@import 'features/styles/theme/variables';

.at-table-responsive {
    display: block;
    inline-size: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.at-table {
    inline-size: 100%;
    background-color: transparent;
    th, td {
        line-height: 1.8;
    }
}
.at-table-layout-fixed {
    table-layout: fixed;
}
.at-table-shadow {
    box-shadow: 0px 24px 48px 0px rgba(14, 14, 14, 0.18);
}
.at-table-striped {
    background-color: $color-white;
    thead {
        tr {
            background-color: $color-white-1;
        }
    }
    tbody {
        tr:nth-child(odd) {
            background-color: $color-white;
        }
        tr:nth-child(even) {
            background-color: $color-white-1;
        }
    }
}