.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table {
    width: 100%;
    background-color: transparent;
}
.table-shadow {
    max-width: 661px;
    padding: 24px;
    box-shadow: 0px 24px 48px 0px rgba(14, 14, 14, 0.18);
}