@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.at-tab {
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    font-size: 1.4rem;
    font-family: Ubuntu, sans-serif;
    transition: all 0.25s;
    white-space: nowrap;
    @include breakpoints(tablet) {
        font-size: 2rem;
        &.at-navigation-tabs {
            min-inline-size: 14rem;
        }
    }
}

.at-tab.at-menu-item {
    color: $color-grey-5;
    border-bottom: 2px solid $color-grey-8;
    &.at-navigation-tabs {
        border-bottom: none;
    }
}
.at-tab.at-menu-item.at-selected {
    color: $color-red;
    border-bottom: 2px solid $color-red;
    &.at-navigation-tabs {
        border-bottom: none;
    }
}
