@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.tab {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  text-align: center;
  font-size: 1.4rem;
  font-family: Ubuntu, sans-serif;
  transition: all 0.25s;
  min-inline-size: 15rem;
  min-block-size: 10rem;
  padding: 1rem 1.6rem;

  @include breakpoints(tablet) {
    font-size: 2rem;
    min-inline-size: 20rem;
    min-block-size: 6.4rem;
    padding: 1.7rem 2rem;
  }
}

.tab.menu-item {
  color: $color-grey-5;
  border-bottom: 2px solid $color-grey-8;
}
.tab.menu-item.selected {
  color: $color-red;
  border-bottom: 2px solid $color-red;
}