@use './theme-mixins' as *;
@import './variables';

.typography {
    line-height: calc(2px + 2ex + 2px);
}

.typography-align-center {
    text-align: center;
}
.typography-align-left {
    text-align: start;
}
.typography-align-right {
    text-align: end;
}
.typography-align-justify {
    text-align: justify;
}

.typography-color-brand {
    color: $color-brand;
}
.typography-color-primary {
    color: $color-black-9;
}
.typography-color-secondary {
    color: #414652b2;
}
.typography-color-tertiary {
    color: #425651;
}
.typography-color-inverted {
    color: $color-white;
}
.typography-color-white {
    color: $color-white;
}
.typography-color-black {
    color: $color-black-9;
}

.typography-break-word {
    word-break: break-word;
}

.typography-break-normal {
    word-break: normal;
}

.typography-weight-normal {
    font-weight: normal;
}
.typography-weight-bold {
    font-weight: bold;
}
.typography-weight-bolder {
    font-weight: 700;
}

.heading-xxxl {
    @include font-size($font-size-1300);
}

.heading-xxl {
    @include font-size($font-size-1200);
}

.heading-xlarge {
    @include font-size($font-size-1100);
}

.heading-large {
    @include font-size($font-size-1000);
}

.heading-medium {
    @include font-size($font-size-900);
}

.heading-small {
    @include font-size($font-size-800);
}

.heading-xs {
    @include font-size($font-size-700);
}

.heading-xxs {
    @include font-size($font-size-600);
}

.text-xxxl {
    @include font-size($font-size-900);
}

.text-xxl {
    @include font-size($font-size-800);
}

.text-xlarge {
    @include font-size($font-size-700);
}

.text-large {
    @include font-size($font-size-600);
}

.text-medium {
    @include font-size($font-size-500);
}

.text-small {
    @include font-size($font-size-400);
}

.text-xs {
    @include font-size($font-size-300);
}

.text-xxs {
    @include font-size($font-size-200);
}
