.at-sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

:is([dir="rtl"] .rtl\:rotate-180) {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

:is([dir="rtl"] .rtl\:right-50) {
    right: 0;
}

:is([dir="rtl"] .rtl\:left-auto) {
    left: auto;
}
:is(:where([dir="rtl"]) .rtl\:\!animate-\[100s_slideRtl_linear_infinite\]) {
    animation: 100s slideRtl linear infinite !important;
}