$font-size-50: (
    null: 0.8rem,
    md: 0.8rem,
    lg: 1rem,
);

$font-size-75: (
    null: 1rem,
    md: 1rem,
    lg: 1.2rem,
);

$font-size-100: (
    null: 1.2rem,
    md: 1.4rem,
    lg: 1.6rem,
);

$font-size-200: (
    null: 1.4rem,
    md: 1.5rem,
    lg: 1.6rem,
);

$font-size-300: (
    null: 1.6rem,
    md: 1.6rem,
    lg: 1.8rem,
);

$font-size-400: (
    null: 1.8rem,
    md: 1.8rem,
    lg: 2rem,
);

$font-size-500: (
    null: 2rem,
    md: 2rem,
    lg: 2.2rem,
);

$font-size-600: (
    null: 2.2rem,
    md: 2.2rem,
    lg: 2.4rem,
);

$font-size-700: (
    null: 2.4rem,
    md: 2.4rem,
    lg: 2.8rem,
);

$font-size-800: (
    null: 2.6rem,
    md: 2.6rem,
    lg: 3.2rem,
);

$font-size-900: (
    null: 2.8rem,
    md: 2.8rem,
    lg: 3.6rem,
);

$font-size-1000: (
    null: 3.2rem,
    md: 3.2rem,
    lg: 4rem,
);

$font-size-1100: (
    null: 2.4rem,
    md: 2.4rem,
    lg: 4.8rem,
);

$font-size-1200: (
    null: 3rem,
    md: 3rem,
    lg: 6rem,
);

$font-size-1300: (
    null: 3.2rem,
    md: 3.2rem,
    lg: 6.4rem,
);

// $font-size-50: (
//     null: 1rem,
//     md: 1rem,
//     lg: 1.2rem,
// );

// $font-size-75: (
//     null: 1.2rem,
//     md: 1.4rem,
//     lg: 1.6rem,
// );

// $font-size-100: (
//     null: 1.4rem,
//     md: 1.5rem,
//     lg: 1.6rem,
// );

// $font-size-200: (
//     null: 1.6rem,
//     md: 1.6rem,
//     lg: 1.8rem,
// );

// $font-size-300: (
//     null: 1.8rem,
//     md: 1.8rem,
//     lg: 2rem,
// );

// $font-size-400: (
//     null: 2rem,
//     md: 2rem,
//     lg: 2.2rem,
// );

// $font-size-500: (
//     null: 2.2rem,
//     md: 2.2rem,
//     lg: 2.4rem,
// );

// $font-size-600: (
//     null: 2.4rem,
//     md: 2.4rem,
//     lg: 2.8rem,
// );

// $font-size-700: (
//     null: 2.6rem,
//     md: 2.6rem,
//     lg: 3.2rem,
// );

// $font-size-800: (
//     null: 2.8rem,
//     md: 2.8rem,
//     lg: 3.6rem,
// );

// $font-size-900: (
//     null: 3.2rem,
//     md: 3.2rem,
//     lg: 4rem,
// );

// $font-size-1000: (
//     null: 2.4rem,
//     md: 2.4rem,
//     lg: 4.8rem,
// );

// $font-size-1100: (
//     null: 3rem,
//     md: 3rem,
//     lg: 6rem,
// );

// $font-size-1200: (
//     null: 3.2rem,
//     md: 3.2rem,
//     lg: 6.4rem,
// );

// $font-size-1300: (
//     null: 4rem,
//     md: 4rem,
//     lg: 8rem,
// );

$color-red: #ff444f;
$color-white: #ffffff;
$color-white-1: #f9f9f9;
$color-grey-44: #e1e1e3;
$color-black-9: #414652;
