@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.trade_hero {
    position: relative;
    min-block-size: 70svh;

    @include breakpoints(tablet) {
        min-block-size: 85svh;
    }

    &::before {
        content: ' ';
        position: absolute;
        block-size: 100%;
        inline-size: 100%;
        background-color: $color-brand;
        inset-block-end: 0;
        clip-path: polygon(0 28%, 100% 38%, 100% 0, 0 0);
        @include rtl() {
            clip-path: polygon(0 40%, 100% 60%, 100% 100%, 0% 100%);
        }

        @include breakpoints(tablet) {
            min-block-size: 85svh;
            inset-block-end: unset;
            inset-inline-end: 0;
            inline-size: 40%;
            clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
            @include rtl() {
                clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
            }
        }
    }
}
