@import 'features/styles/variables';

.typography {
    line-height: 1.1; // check this out for more https://dev.to/lampewebdev/css-line-height-jjp
}

.word_break {
    word-break: break-word;
}

.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.typography-color-brand {
    color: $text-color-brand;
}
.typography-color-primary {
    color: $text-color-primary;
}
.typography-color-secondary {
    color: $text-color-secondary;
}
.typography-color-tertiary {
    color: $text-color-tertiary;
}
.typography-color-inverted {
    color: $text-color-inverted;
}
.typography-color-transparent {
    color: transparent;
}
