@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.signup_wrapper {
    min-block-size: calc(100svh - 7rem);
}

.signup_form_container {
    @include breakpoints(tablet) {
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    }
}

.signup_form_line {
    block-size: 1px;
    background-color: $color-grey-7;
}

.sign_up_header {
    font-size: 24px;
}

.sign_up_content {
    font-size: 12px;
}

.signup_login_redirect {
    cursor: pointer;
}

.signup_fb_btn {
    background-color: #1877f2;
}

.signup_apple_btn {
    background-color: #000000;
}
.link_text {
    text-decoration: underline;
    &:hover {
        text-decoration-color: #000000;
        color: $text-color-primary;
    }
}

.signup_latam_human_image {
    width: 100%;
    max-width: 610px;
    padding: 0 3rem;
    display: none;
}

.signup_latam_image_show {
    display: block;
}
