@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';


.hero_wrapper {
    min-block-size: 76.4rem;
}
.container {
    inline-size: 95%;
    margin-inline: auto;
    max-inline-size: 68.8rem;
    @include breakpoints(tablet){
        inline-size: 90%;
    }
}