@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.testimonial_slider_container {
    flex: 1;
    position: relative;
    min-inline-size: 0;
    max-inline-size: 100%;
}

.slider-button {
    position: absolute;

    inline-size: 36px;
    block-size: 36px;

    background-color: $bg-color-primary;
    border-radius: 10rem;
    padding: 1rem;

    cursor: pointer;

    inset-block-end: 0;
    @include breakpoints(tablet-large) {
        inset-block-end: 50%;
    }

    &-previous {
        inset-inline-start: calc(50% - 50px);
        @include breakpoints(tablet-large) {
            inset-inline-start: -50px;
        }
    }

    &-next {
        inset-inline-end: calc(50% - 50px);
        @include breakpoints(tablet-large) {
            inset-inline-end: -50px;
        }
    }
}

.testimonial_slide {
    block-size: 100%;
    position: relative;
}

.swiper-button-disabled {
    opacity: 0.5;
    cursor: unset;
}

.trustpilot-widget {
    transform: scale(0.8);
    position: relative;
    inset-inline-start: -40px;
}
