@use "features/styles/mixins/media" as *;

div.container {
    margin: 0 auto;
    padding: 0px;


    inline-size: 80%;

    @include min-width(desktop) {
        max-inline-size: 1200px;
    }

    @include min-width(desktop) {
        max-inline-size: 1200px;
    }

    @include min-width(laptopL) {
        inline-size: 84%;
    }

    @include min-width(desktopL) {
        max-inline-size: 1600px;
    }

    @include min-width(tabletL) {
        inline-size: 90%;
    }

}