@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.table-container {
    
}
.table_row_header{
    background-color: $color-white-1;
    border-block-end: 2px solid $color-grey-8;
    display: flex;
    border-radius: 0 16px;
    justify-content: space-between;
    align-items: center;
    min-block-size: 75px;
    padding: 24px;
    th {
        &:nth-child(6) {
          display: none;
        }
      }
    @include breakpoints(laptop) {
        th {
            
            &:nth-child(6) {
              display: block;
            }
           
          }
    }

}
.table_row_data {
    border-block-end: 2px solid $color-grey-8;
    display: flex;
    border-radius: 0 16px;
    justify-content: space-between;
    align-items: center;
    min-block-size: 75px;
    padding: 24px;
    td {
        &:nth-child(6) {
          display: none;
        }
      }
    @include breakpoints(laptop) {
        td {
            &:nth-child(6) {
              display: block;
            }
            &:nth-child(2) {
                width: 30rem;
              }
          }
    }
}
.table_header_cell{
    display: flex;
}
