@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.content_container {
    max-inline-size: 79.2rem;
    margin-inline: auto;
    inline-size: 90%;

    @include breakpoints(tablet) {
        border: 1px solid $color-grey-6;
        border-radius: 8px;
        inline-size: 90%;
    }
}
.content_images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
    max-inline-size: 100rem;
    margin-inline: auto;

    @include breakpoints(phone) {
        gap: 2.4rem;
        margin-inline: 2.4rem;
        grid-template-columns: 1fr 1fr;
    }
}

.single_image {
    @include breakpoints(phone) {
        grid-template-columns: auto;
        inline-size: 50%;
        margin-inline: auto;
    }
}
