@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.deriv_go_container {
    position: relative;

    &::before {
        position: absolute;
        content: ' ';
        inset-block-end: 0;
        inset-inline-start: 0;
        background-color: $color-black-10;

        block-size: 50%;
        inline-size: 100%;

        clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
        @include rtl() {
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
        }
        @include breakpoints(tablet-large) {
            block-size: 100%;
            inline-size: 25%;
            clip-path: circle(75.8% at 0 51%);

            @include rtl() {
                clip-path: circle(75.8% at 100% 51%);
            }
        }
    }
}

.item_container {
    inline-size: 48.7rem;
    max-inline-size: 100%;
    z-index: 1;
    order: 1;
    @include breakpoints(tablet-large) {
        order: unset;
    }
}
.qr_container {
    inline-size: 24.8rem;
    z-index: 1;
}
