@use 'features/styles/theme/theme-mixins' as *;

.tab_ul {
    cursor: pointer;
    max-inline-size: 38.4rem;
}
.tab_images {
    max-block-size: 38.5rem;
    @include breakpoints(tablet) {
        max-block-size: 43.4rem;
        max-inline-size: 79.2rem;
    }
}
