$small-font-size-mobile: 0.9rem;
$small-font-size-small: 1rem;
$small-font-size-medium: 1.1rem;
$small-font-size-large: 1.2rem;

$small-font-sizes: (
    null: $small-font-size-mobile,
    480px: $small-font-size-small,
    1024px: $small-font-size-medium,
    1440px: $small-font-size-large,
);


$p-font-size-mobile: 1.3rem;
$p-font-size-small: 1.4rem;
$p-font-size-medium: 1.5rem;
$p-font-size-large: 1.6rem;

$p-font-sizes: (
    null: $p-font-size-mobile,
    480px: $p-font-size-small,
    1024px: $p-font-size-medium,
    1440px: $p-font-size-large,
);

$small-p-font-size-mobile: 1rem;
$small-p-font-size-small: 1.2rem;
$small-p-font-size-medium: 1.3rem;
$small-p-font-size-large: 1.4rem;

$small-p-font-sizes: (
    null: $small-p-font-size-mobile,
    480px: $small-p-font-size-small,
    1024px: $small-p-font-size-medium,
    1440px: $small-p-font-size-large,
);


$h1-font-size-mobile: 5.2rem;
$h1-font-size-small: 5.6rem;
$h1-font-size-medium: 6rem;
$h1-font-size-large: 6.4rem;

$h1-font-sizes: (
    null: $h1-font-size-mobile,
    480px: $h1-font-size-small,
    1024px: $h1-font-size-medium,
    1440px: $h1-font-size-large,
);

$h2-font-size-mobile: 3.6rem;
$h2-font-size-small: 4rem;
$h2-font-size-medium: 4.4rem;
$h2-font-size-large: 4.8rem;


$h2-font-sizes: (
    null: $h2-font-size-mobile,
    480px: $h2-font-size-small,
    1024px: $h2-font-size-medium,
    1440px: $h2-font-size-large,
);


$h3-font-size-mobile: 2.6rem;
$h3-font-size-small: 2.8rem;
$h3-font-size-medium: 3rem;
$h3-font-size-large: 3.2rem;

$h3-font-sizes: (
    null: $h3-font-size-mobile,
    480px: $h3-font-size-small,
    1024px: $h3-font-size-medium,
    1440px: $h3-font-size-large,
);


$h4-font-size-mobile: 2rem;
$h4-font-size-small: 2.2rem;
$h4-font-size-medium: 2.4rem;
$h4-font-size-large: 2.6rem;


$h4-font-sizes: (
    null: $h4-font-size-mobile,
    480px: $h4-font-size-small,
    1024px: $h4-font-size-medium,
    1440px: $h4-font-size-large,
);

$h5-font-size-mobile: 1.6rem;
$h5-font-size-small: 1.8rem;
$h5-font-size-medium: 2rem;
$h5-font-size-large: 2.2rem;


$h5-font-sizes: (
    null: $h5-font-size-mobile,
    480px: $h5-font-size-small,
    1024px: $h5-font-size-medium,
    1440px: $h5-font-size-large,
);


$h6-font-size-mobile: 1.3rem;
$h6-font-size-small: 1.4rem;
$h6-font-size-medium: 1.5rem;
$h6-font-size-large: 1.6rem;


$h6-font-sizes: (
    null: $h6-font-size-mobile,
    480px: $h6-font-size-small,
    1024px: $h6-font-size-medium,
    1440px: $h6-font-size-large,
);

$main-landing-title-font-size-mobile: 4rem;
$main-landing-title-font-size-small: 4.8rem;
$main-landing-title-font-size-medium: 6.4rem;
$main-landing-title-font-size-large: 8rem;


$main-landing-title-font-sizes: (
    null: $main-landing-title-font-size-mobile,
    480px: $main-landing-title-font-size-small,
    1024px: $main-landing-title-font-size-medium,
    1440px: $main-landing-title-font-size-large,
);


@mixin font-size($fs-map) {

    @each $fs-breakpoint,
    $fs-font-size in $fs-map {
        @if $fs-breakpoint ==null {
            font-size: $fs-font-size;
        }

        @else {
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}