@import "../variables.scss";


@mixin font-size($fs-map) {

    @each $fs-breakpoint,
    $fs-font-size in $fs-map {
        @if $fs-breakpoint ==null {
            font-size: $fs-font-size;
        }

        @else {
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}