@use 'src/features/styles/theme/theme-mixins' as *;
@import 'src/features/styles/theme/variables';

.not {
  &_found {
    padding: 16rem 0;

    &_button {
      border-radius: 4px;

      & > a:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

