@use "features/styles/mixins/media" as *;

.nav_logo {
    display: flex;
    align-items: center;

    &_main {
        inline-size: 115px;
    }

    &_description {
        @include min-width(laptopM) {
            display: none;
        }


        &_line {
            inline-size: 1px;
            block-size: 28px;
            margin-inline-end: 8px;
            margin-inline-start: 8px;
            background-color: white;
        }
    }
}