@import 'features/styles/variables';

button.hero {
    box-shadow: inset 0 $color-red;
    color: $color-white;
    background: $color-red;
    padding: 17px 24px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 8px;

    &:hover {
        background-color: $color-red-3;
        border-color: $color-red-3;
    }
}
