@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.nav_items {
    & > li {
        position: relative;
        user-select: none;
        cursor: pointer;

        &:last-child {
            margin-inline-end: 0;
        }

        &.active_item {
            & .item_title {
                color: $text-color-brand;
            }
        }

        & .active_section {
            inline-size: fit-content;
            position: absolute;
            inset-block-start: 5rem;
            inset-inline-start: 0rem;
            max-inline-size: 1200px;
            z-index: 10;
            box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
            border-radius: 0.4rem;
        }

        & .active_trade_section {
            inset-inline-start: -45rem;
            @include breakpoints(laptop) {
                inset-inline-start: -35rem;
            }
            @include breakpoints(desktop) {
                inset-inline-start: -30rem;
            }
        }
    }
}
