@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.nav_items {
    & > li {
        position: relative;
        user-select: none;
        cursor: pointer;

        &:last-child {
            margin-inline-end: 0;
        }

        & .item_title {
            &::before {
                content: '';
                position: absolute;
                transition: width 0.25s;
                block-size: 0.2rem;
                inline-size: 0;
                background-color: $color-brand;
                inset-block-end: 0;
            }

            &:hover {
                &::before {
                    inline-size: 1.6rem;
                }
            }
        }

        &.active_item {
            & .item_title {
                &::before {
                    content: '';
                    position: absolute;
                    transition: width 0.25s;
                    block-size: 0.2rem;
                    inline-size: 1.6rem;
                    background-color: $color-brand;
                    inset-block-end: 0;
                }
            }
        }

        & .active_section {
            inline-size: fit-content;
            position: absolute;
            inset-block-start: 5rem;
            inset-inline-start: 0rem;
            max-inline-size: 1200px;
            z-index: 10;
            box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
            border-radius: 0.4rem;
        }

        & .active_trade_section {
            inset-inline-start: -25rem;
        }
    }
}
