@use 'features/styles/mixins' as *;

.nav_items {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    line-height: 1.2;
    gap: 0.4rem;
    flex: 1;

    @include media(desktop) {
        gap: 2.4rem;
    }

    & > li {
        list-style-type: none;
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;

        &:last-child {
            margin-inline-end: 0;
        }

        & .item_title {
            color: $color-white;
            padding: 0.5rem 1rem;

            &::before {
                content: '';
                position: absolute;
                transition: width 0.25s;
                block-size: 0.2rem;
                inline-size: 0;
                background-color: var(--color-red);
                inset-block-end: 0;
            }

            &:hover {
                text-shadow: 0 0 0.8px var(--color-white), 0 0 0.8px var(--color-white);

                &::before {
                    inline-size: 1.6rem;
                }
            }
        }

        &.active_item {
            &::after {
                animation: 1s fadeIn;
                animation-delay: 0.1s;
                animation-fill-mode: forwards;
                content: ' ';
                position: absolute;
                inset-block-start: 33px;
                inset-inline-start: 25%;
                border-block-start: none;
                border-inline-end: 15px solid transparent;
                border-inline-start: 15px solid transparent;
                border-block-end: 15px solid white;
            }
        }

        & .active_section {
            @keyframes fadeIn {
                from {
                    visibility: hidden;
                }

                to {
                    visibility: visible;
                }
            }

            position: absolute;
            inset-block-start: 46px;
            inset-inline-start: 0rem;
            max-inline-size: 1200px;
            padding: 2.2rem 0.8rem;
            z-index: 10;
            background-color: $color-white;
            box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
            border-radius: 0.4rem;
        }

        & .active_trade_section {
            inset-inline-start: -20rem;
        }
    }
}
