@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.navigation {
    &_root {
        display: none;

        @include breakpoints(tablet) {
            position: relative;
            display: flex;
            z-index: 1;
            flex: 1;
        }
    }
    &_list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;
    }

    &_trigger {
        all: unset;
        outline: none;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            cursor: pointer;
        }

        &[data-state='open'] > p {
            color: $bg-color-brand;
        }
    }

    &_content {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: auto;
        padding: 2.4rem 0.8rem;
        animation-duration: 250ms;
        animation-timing-function: ease;
    }

    &_scrollable_menu {
        @media screen and (max-height: 975px) {
            block-size: 77vh;
            padding-block-end: 3rem;
            overflow: auto;
        }
    }

    &_position {
        display: flex;
        justify-content: end;
        perspective: 2000px;
        position: absolute;
        inset-inline-end: -10rem;
        inset-block-start: 5rem;
        inline-size: 100vw;
    }

    &_viewport {
        position: relative;
        transform-origin: top center;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
            hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
        block-size: var(--radix-navigation-menu-viewport-height);
        inline-size: var(--radix-navigation-menu-viewport-width);
        transition: width, height, 400ms ease;
    }
}

.trade_active {
    position: fixed;
    inset-block-start: 7rem;
    justify-content: center;
    inset-inline-end: 0;

    @include breakpoints(laptop) {
        position: absolute;
        inset-inline-end: -20rem;
        inset-block-start: 5rem;
        justify-content: end;
    }
}

.trade_landing_active {
    inset-inline-end: 5rem;
}
.nav_text_wrapper {
    @include breakpoints(tablet) {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            height: 5rem;
        }
    }
}
