@import 'features/styles/variables';

.link {
    cursor: pointer;
    text-decoration: none;
    transition: text-shadow 0.25s;
    font-size: inherit;
    color: inherit;

    &:active {
        color: $color-red;
    }
    &:hover {
        color: $color-red;
        text-decoration: underline;
    }
    &:disabled {
        pointer-events: none;
        opacity: 0.32;
    }
}

.bold_link {
    font-weight: bold;
}
