@import "features/styles/variables";

button {
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 14px;
    transition: all 0.25s;
    font-weight: bold;
    block-size: fit-content;

    &:focus,
    &:active {
        outline: none;
        transform: scale(0.95);
    }

    &:hover {
        cursor: pointer;
    }
}

button.fluid {
    inline-size: 100%;
}

button.disabled {
    pointer-events: none;
    opacity: 0.32;
}


button.loading {
    inline-size: 8rem;
    block-size: 8rem;
    border: 10 px solid $color-black;
    border-radius: 50%;
    animation: sweep 1s linear alternate infinite, rotates 0.8s linear infinite;
}

button.primary {
    border: 2px solid $color-red;
    color: $color-red;
    background: transparent;

    &:hover {
        background-color: $color-red;
        color: $color-white;
    }
}


button.secondary {
    border: 2px solid $color-red;
    color: $color-white;
    background: $color-red;

    &:hover {
        background-color: $color-red-3;
        border-color: $color-red-3;
    }
}

button.tertiary {
    border: 2px solid $color-grey-5;
    color: $color-black;
    background: transparent;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}


button.tertiary_light {
    border: 2px solid $color-white;
    color: $color-white;
    background: transparent;

    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }
}

button.flat {
    background: transparent;
    color: $color-red;
    border: none;

    &:hover {
        background: rgba(255, 68, 79, 0.08);
    }
}


button.white {
    border: 2px solid $color-white;
    color: $color-white;
    background: transparent;

    &:hover {
        background: $color-white;
        color: $color-red;
    }
}


button.hero {
    box-shadow: inset 0 $color-red;
    color: $color-white;
    background: $color-red;
    padding: 17px 24px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 8px;

    &:hover {
        background-color: $color-red-3;
        border-color: $color-red-3;
    }


}