@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.home_hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;

    padding: 10rem 0 46px;
    min-block-size: 100vh;

    @include breakpoints(tablet-large) {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
    }

    &::before {
        content: ' ';
        position: absolute;
        block-size: 50%;
        inline-size: 100%;
        background-color: $color-brand;
        inset-block-end: 0;
        clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
        @include rtl {
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
        }

        @include breakpoints(tablet-large) {
            inset-block-end: unset;
            inset-inline-end: 0;
            block-size: 100%;
            inline-size: 50%;
            clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
            @include rtl {
                clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
            }
        }
    }
}

.content {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoints(tablet-large) {
        grid-template-columns: 1fr 1fr;
    }
}

.right_side {
    min-inline-size: 0; // for fixing the the wrong width calculation, check this out https://github.com/nolimits4web/swiper/issues/3599
}

.features_carousel {
    max-block-size: 4rem;

    &_slide {
        display: flex;
        text-align: start;
        justify-content: center;
        align-items: center;
    }
}
