@use 'features/styles/mixins/media' as *;

.home_hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    padding: 5rem 0;
    min-block-size: 915px;
    background: linear-gradient(241.35deg, #122434 12.86%, #060c11 85.61%, #060c11 85.61%);

    @include min-width(tabletL) {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10rem 0 46px;
        min-block-size: 846px;
    }
}

.bg_container {
    position: absolute;
    display: flex;
    block-size: 100%;
    justify-content: center;
    align-items: center;
    inset-block-start: 0px;
}

.content {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include min-width(tabletL) {
        grid-template-columns: 1fr;
    }
}

.left_side {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    min-inline-size: 40rem;
    gap: 2rem;
    .header_titles {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        flex-direction: column;

        @include min-width(tabletL) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.right_side {
    min-inline-size: 0; // for fixing the the wrong width calculation, check this out https://github.com/nolimits4web/swiper/issues/3599
}

.features_carousel {
    max-block-size: 4rem;

    &_slide {
        display: flex;
        text-align: start;
        justify-content: center;
        align-items: center;
    }
}
