@use 'features/styles/theme/theme-mixins' as *;

.static_nav_logo {
    inline-size: 4.8rem;
    block-size: 1.6rem;

    @include breakpoints(tablet) {
        inline-size: 9.6rem;
        block-size: 3.6rem;
    }
}
