@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.hero_spacing {
    @include breakpoints(tablet) {
      margin-inline: 120px 34px;
      max-inline-size: 632px;
    }
}
.number_box {
  @include breakpoints(tablet) {
    margin-inline: 120px;
    border-bottom: 1px solid $color-grey-1;
  }
}
.styled_card {
  @include breakpoints(tablet) {
    inline-size: 28.2rem;
    block-size: 30.8rem;
  }
}
