@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.hero_wrapper {
    max-inline-size: 32.7rem;
    padding-block-start: 35.4rem;
    @include breakpoints(tablet) {
        padding-block-start: 0;
        max-inline-size: 55.5rem;
    }
}
.hero_image {
    max-block-size: 31rem;
    @include breakpoints(tablet) {
        max-block-size: 64.1rem;
    }
}
.hero_big_image {
    position: absolute;
    top: 80px;
    right: -75px;
    @include rtl() {
        position: absolute;
        top: 100px;
    }

    @include breakpoints(tablet) {
        right: -435px;
        @include rtl() {
            position: relative;
            top: 20px;
            right: 10px;
        }
    }
    @include breakpoints(laptop) {
        right: -300px;
        @include rtl() {
            top: 200px;
            right: 0;
        }
    }
    @include breakpoints(desktop) {
        right: -215px;
        @include rtl() {
            position: absolute;
            right: 60%;
        }
    }
}
.hero_button {
    @include breakpoints(tablet) {
        white-space: nowrap;
        inline-size: fit-content;
    }
}
.number_box {
    @include breakpoints(tablet) {
        border-bottom: 1px solid $color-grey-1;
    }
}
.what_have_wrapper {
    @include breakpoints(tablet) {
        block-size: 31.1rem;
    }
}
.what_have_text {
    @include breakpoints(tablet) {
        max-inline-size: 51.1rem;
    }
}
.what_is_text {
    @include breakpoints(tablet) {
        block-size: 31.1rem;
    }
}
.styled_card {
    box-shadow: 0px 12px 16px -4px rgba(14, 14, 14, 0.08), 0px 4px 6px -2px rgba(14, 14, 14, 0.03);
    inline-size: 32.8rem;
    min-block-size: 21.6rem;
    @include breakpoints(tablet) {
        min-block-size: 30.8rem;
    }
}
.item_description {
    @include breakpoints(tablet) {
        max-inline-size: 79.2rem;
    }
}
