@import 'features/styles/theme/variables';

.floating-button {
    background-color: $bg-color-primary;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.05);
    padding: 1.6rem;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    margin: 0 1.6rem 1.6rem 1.6rem;
    pointer-events: all;
    animation: scale 0.2s;
    transition: all 0.2s;

    &:hover {
        scale: 1.1;
    }

    @keyframes scale {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(100%);
        }
    }
}
