@use 'features/styles/theme/theme-mixins' as *;
@import 'features/styles/theme/variables';

.market_slide {
    background-color: $bg-color-primary;
    border-radius: 8px;
    box-shadow: 0px 12px 16px -4px rgba(14, 14, 14, 0.08), 0px 4px 6px -2px rgba(14, 14, 14, 0.03);
    max-inline-size: 28rem;
    overflow: hidden;
    margin-inline-end: 2rem;
}

.markets_swiper_container {
    margin-inline: auto;
    inline-size: 95%;

    @include breakpoints(tablet) {
        inline-size: 90%;
    }

    @include breakpoints(laptop) {
        inline-size: 85%;
    }

    @include breakpoints(desktop) {
        inline-size: 80%;
        max-inline-size: 160rem;
    }
}

.markets_swiper {
    position: relative;
    min-block-size: 40rem;
}

.markets_slider_pagination {
    position: absolute;
    --swiper-pagination-bottom: 0rem;
    --swiper-pagination-color: #ff444f;
}
