@use 'features/styles/mixins' as *;

.nav_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    padding: 0px;
    transition: all 0.25s;
    flex: 1;

    // @include media(phone-large) {
    //     min-inline-size: unset;
    // }
}

.login_button {
    margin-inline: 1rem;
}

.dynamic_button {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    inline-size: 0px;
    padding: 0px;
}

.show {
    transform: translateX(100%);
    padding: 0px;
    max-inline-size: 22rem;
    inline-size: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 100ms ease 0ms;

    @include media(tablet-large) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        inline-size: 100%;
        padding: 10px 16px;
    }
}
